body, h1, ul, li, a{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: hsl(233, 47%, 7%);
}

.overlay {
    background-image: url(images/image-header-desktop.jpg);
    width: 540px;
    height: 446px;
    border-radius: 0 5px 5px 0;
    position: relative;    
}

.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 446px;
    content: '';
    background-color: hsla(277, 57%, 41%, 0.521);
}

main {
    display: flex;
}

.container {
    width: 1116px;
    display: flex;
    margin: 100px auto; 
    
}

.conteudo {
    background: hsl(244, 38%, 16%);
    width: 540px;
    height: 446px;
    border-radius: 5px 0 0 5px;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 60px;
    max-width: 380px;
    color: hsla(0, 0%, 100%, 0.78)
}

.titulo span {
    color: hsl(277, 64%, 61%);
}

.paragrafo {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    max-width: 350px;
    padding: 0 60px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: -25px;
}

.info {
    display: flex;
    padding: 60px;
}

.info li {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    margin-right: 60px;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
}

.info span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    font: bold;
    color: hsl(0, 0%, 100%);
    line-height: 1.4;
}

.attribution {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: -20px;

}

.attribution a {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(277, 64%, 61%);
}

